html {
	scroll-behavior: smooth;
}

body {
	font-family: "Manrope", Arial, sans-serif;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Raleway", Arial, sans-serif;
	font-weight: 700;
}

h1 {
	font-size: 72px!important;
	line-height: 95px;
	letter-spacing: -1px;
	text-transform: none;
	margin: 0;
}

h2 {
	font-size: 25px;
	margin-bottom: 80px;
	font-weight: 400;
	margin-top: 10px;
}

p {
	font-size: 18px;
}

li {
	list-style: none;
	margin-right: 25px;
}

.menu {
	position: fixed;
	width: 100%;
	background: rgba(0, 0, 0, 1);
	top: 0;
	right: 0;
	left: 0;
	z-index: 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hamburguer {
	width: 100%;
	justify-content: space-between;
	display: flex;
	align-items: center;
	padding: 15px 50px;
}

.hamburguer a {
	font: 500 12px "Manrope", "Raleway", "Arial", sans-serif;
	color: #cccccc;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.hamburguer .home-logo {
	font-size: 22px;
	font-weight: 600;
	letter-spacing: 5px;
	line-height: 1.15;
}

a {
	text-decoration: none;
}

.section-page {
	padding: 80px 0 100px 0;
}

.section-page h3 {
	margin-top: 0;
	margin-bottom: 20px;
}

.redes {
	display: flex;
}

.redes div {
	border-radius: 50%;
	width: 28px;
	height: 28px;
	text-align: center;
	margin-right: 10px;
	display: flex;
	align-items: center!important;
	align-content: center;
	justify-content: center;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}

.redes div:hover {
	background: transparent!important;
}

.redes div.linkedin {
	background: #0a66c2;
}

.redes div.instagram {
	background: #dd2a7b;
}

.redes div.facebook {
	background: #0080ff;
}

.redes div:last-child {
	margin-right: 0;
}

.redes div a {
	font-size: 14px!important;
	width: 18px;
}

.boton {
	background-color: transparent;
	padding: 20px 30px 20px 30px;
	color: #ffffff;
	border-width: 2px;
	border-color: #ffffff;
	font-size: 14px;
	line-height: 14px;
	padding: 15px 30px;
	-webkit-transition: all .3s linear;
	-o-transition: .3s all linear;
	transition: all .3s linear;
	border-style: solid;
	border-radius: 50px;
	font-weight: 600;
	margin: 0 10px;
}

.boton-primary {
	margin-left: 0;
}

.boton-secondary {
	margin-right: 0;
}

.boton-primary:hover,
.boton-secondary {
	background-color: #5c0bb7;
	color: #ffffff;
	border-color: #5c0bb7;
}

.boton-secondary:hover {
	background-color: rgba(0, 0, 0, 1);
	border-color: rgba(0, 0, 0, 1);
}

.lista {
	display: flex;
}

.lista li:last-child {
	margin-right: 0;
}

.titular {
	text-align: center;
}

header {
	height: 100vh;
	background-size: cover;
	display: flex;
	align-items: center;
	align-content: center;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.75) 0%), url("../img/background.jpg") no-repeat scroll;
	height: 708px;
	opacity: 1;
	padding: 0px;
	color: #FFFFFF;
}

.contenedor {
	max-width: 1280px;
	width: 90%;
	margin: auto;
}


/*seccion sobre mi */

h3 {
	text-align: center;
	font-size: 45px;
}

.sobremi-section {
	background-color: #5c0bb7;
	color: #FFFFFF;
}

.sobremi-section .boton-primary:hover,
.sobremi-section .boton-secondary,
#contacto .boton-primary:hover {
	background-color: rgba(0, 0, 0, 1);
	border-color: rgba(0, 0, 0, 1);
}

.contenedor-sobremi {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.contenedor-parrafo-y-boton {
	width: 42%;
}

.contenedor-parrafo-y-boton p {
	font-size: 18px;
}

.parrafo-final {
	margin-bottom: 50px;
}

.foto {
	width: 350px;
}

.contenedor-servicios {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.servicio-section {
	background: rgba(0, 0, 0, 1);
	color: #FFFFFF;
}

.servicio-section h3 {
	margin-bottom: 60px;
}

.servicio {
	width: 25%;
	padding: 50px 38px 50px 38px;
	border-radius: 50px;
	margin-bottom: 40px;
	color: #fff;
}

.servicio h4,
.servicio p {
	margin-right: 8px;
	margin-left: 8px;
}

.violeta {
	background: #5c0bb7;
}

.gris {
	background: #222222;
}

.servicio h4 {
	font-size: 30px;
	margin: 0%;
}

.servicio img {
	float: right;
}

span {
	font-size: 80px;
	color: black
}

.owl-carousel {
	margin-top: 50px;
}

.owl-nav {
	text-align: center;
}

.contenedor-porque {
	display: flex;
	text-align: center;
	justify-content: space-around;
	margin-top: 70px;
}

.contenedor-porque h4 {
	margin: 0%;
	font-size: 20px;
}

.contenedor-porque p {
	font-size: 16px;
	line-height: 28px;
}

.porque-singular {
	width: 28%;
}

#que-esperas {
	background: linear-gradient(rgb(92 11 183), rgba(84, 93, 220, .94), rgba(96, 171, 245, .9));
    text-align: center;
    padding: 45px 0;
    display: flex;
    align-items: center;
    align-content: center;
    color: #FFFFFFFF;
}


.conmigo {
	background: #222222;
	color: #FFFFFF;
}

#whatsapp a {
	background: none;
	position: fixed;
	top: 85%;
	right: 15px;
}

.menu-icon {
	display: none;
	filter: invert(1)!important;
}

#contacto {
	background-color: #5c0bb7;
	color: #FFFFFF;
	padding: 80px 0 50px 0;
}

.row-contact {
	display: flex;
	margin: 20px 0;
}

.row-contact .form-field {
	width: 58%;
}

.form-field,
.submit-button {
	margin: 0 20px;
}

.form-field.comment-box {
	width: 98%;
}

.contact-form {
	margin-top: 80px;
}


input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
    border: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    padding: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 10px;
	font-size: 14px;;
}

textarea {
	height: 140px !important;
}

@media (max-width:768px) {
	header {
		height: 100%;
		padding: 80px 0 100px 0;
		background-attachment: fixed;
		background-size: cover;
		background-position-x: -140px;
		background-position-y: 30px;
		display: block!important;
	}
	header .contenedor {
		width: 95%;
	}
	.boton {
		margin: 0 5px;
		padding: 15px 25px;
	}
	nav {
		position: absolute;
		top: 75px;
		left: 0px;
		width: 100%;
		background: rgba(0, 0, 0, 1);
		right: 0;
	}
	nav .lista {
		flex-direction: column;
		padding-left: 20px;
		padding-right: 0;
	}
	nav .lista li {
		margin:4px 0;
	}
	.menu-icon {
		display: block;
		width: 25px;
		height: 20px;
	}
	.redes{
		display: none;
	}
	.titular {
		margin-top: 54px;
	}
	.foto {
		width: 50%;
	}
	h1 {
		font-size: 50px!important;
		line-height: 1.4;
	}
	h2 {
		font-size: 19px;
		margin-top: 20px;
		margin-bottom: 70px;
	}
	.contenedor-sobremi {
		flex-direction: column;
	}
	.contenedor-parrafo-y-boton {
		width: 90%;
	}
	.contenedor-servicios {
		flex-direction: column;
	}
	.servicio {
		width: 78%;
		margin: auto;
		margin-bottom: 50px;
		padding: 50px 25px 50px 25px;
	}
	.servicio h4 {
		font-size: 28px;
	}
	h3 {
		font-size: 43px;
	}
	.contenedor-porque {
		flex-direction: column;
	}
	.porque-singular {
		width: 95%;
	}
	.nave {
		color: black;
	}
	.hamburguer {
		padding: 15px 20px;
	}
	.row-contact{
		display: block;
    	margin: 0;
	}
	.row-contact .form-field{
		width: 100%;
	}
	.form-field, .submit-button {
		margin: 18px 0;
		display: block;
	}
}


/*Eliminar después de carousel*/

.owl-carousel {
    display: flex;
    flex-wrap: wrap;
}

.owl-carousel div img {
    object-fit: contain;
    width: 100%;
}
